
#title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: blueviolet;
    text-align: center;
    font-style: italic;
    font-weight: 500;
}

#recipes{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: red;
    text-align: center;
    font-style:italic;
    background-color: white;
    margin: auto;
    padding: 50px;
}

#recipes .list{
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    height: auto;
    width: 500px;
    box-sizing: border-box;
    padding-block: 30px;
   
}
.listone{
    background-color: red;
}
.listtwo{
    background-color: blue;
 
}
.recipe-title{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 500;

}
.section-title{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-weight: 500;

}
.para-text{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;

}
.list-text{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: cyan;

}
